.error-404{
  height: 40vh;
  display: flex;
  align-items: center;
  h1{
    margin-bottom: 45px;
  }
  .button-404{
    height: 50px;
    min-width: 290px;
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 42px;
    background: #ed7070;
    width: auto;
    margin: 0 0 4px;
    padding: 13px 28px;
    text-align: center;
    color: $white;
    text-decoration: none;
  }
}