.footer-wrapper{
  background-color: $brand-dark;
  padding-top: 40px;
  padding-bottom: 80px;
  .footer-title{
    height: 53px;
    color: $white;
    display: flex;
    align-items: flex-end;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: .95rem;

  }
  .footer-image-wrapper{
    img{
      margin: 0 auto;
      
    }
  }

  ul{
    li{
      color: $text-gray;
      border-bottom: 1px solid $text-gray;
      min-height: 38px;
      a, p{
        font-size: .85rem;
        color: $text-gray;
        padding: 10px 0px;
        display: inline-block;
        text-decoration: none;
      }
    }
  }

  #menu-footer-menu-first{
    display: inline-block;
    li{
      width: 100%;
      float: left;
      margin-right: 18px;
    }
  }
}

/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 360px) {

}
@media all and (min-width: 467px) {

}
@media all and (min-width: 768px) {

}

@media all and (min-width: 992px) {
.footer-wrapper{
  .footer-title{
    margin-bottom: 20px;
  }
  .footer-image-wrapper{
    img{
      margin-right: auto;
      margin-left: unset;
      
    }
  }
  ul{
    li{
      border-bottom: 1px solid $text-gray;
    }
    li:first-child{
      border-top: 1px solid $text-gray;
    }
  }
  #menu-footer-menu-first{
    li{
      width: 45%;
      float: left;
      margin-right: 18px;
    }
    li:nth-child(2){
      border-top: 1px solid $text-gray;
    }
  }
}

}

@media all and (min-width: 1200px) {
.footer-wrapper{
  ul{
    li{
      a, p{
        font-size: .95rem;
      }
    }
  }
}
}
