.header-number-div{
    background-color: $bg-gray-darker;
    padding: 12px 0px;
    font-size: .8rem;  
    line-height: 1.1;
    text-align: center;
    span{
        font-weight: 600;
    }
    a{
        text-decoration: none;
        display: inline-block;
    }  
    a:after{
        content: '';
        display: block;
        margin: auto;
        margin-top: 4px;
        height: 2px;
        width: 0px;
        background: transparent;
        transition: width .5s ease, background-color .5s ease;                
    }
    a:hover:after{
        width: 100%;
        background: $brand-secondary;                
    }
}
/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 467px) {
.header-number-div{
    font-size: .9rem;  
}
}
