.section-about-us-promise{
  position: relative;
  background-color: $bg-gray-dark;
  padding-top: 50px;
  padding-bottom: 50px;
  .about-us-promise-wrapper-inner{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;
    .about-us-text-wrapper{
      padding: 0px 0px;
      p{
        font-weight: 600;
        font-size: .9rem;
        font-family: $title-font;
      }
    }
    .about-us-image-wrapper{
      img{
        margin-bottom: 10px;
      }
    }
  }
}
/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 360px) {
.section-about-us-promise{
  .about-us-promise-wrapper-inner{
    .about-us-text-wrapper{
      padding: 0px 22px;
    }
  }
}
}
@media all and (min-width: 768px) {
.section-about-us-promise{
  .about-us-promise-wrapper-inner{
    .about-us-text-wrapper{
      p{
        font-size: 1rem;
      }
    }
  }
  .about-us-promise-each-1{
    border-bottom: 1px dotted $text-gray;
    border-right: 1px dotted $text-gray;
  }
  .about-us-promise-each-2{
    border-bottom: 1px dotted $text-gray;
    border-right: 1px dotted $text-gray;
  }
  .about-us-promise-each-3{
    border-bottom: 1px dotted $text-gray;
  }
  .about-us-promise-each-4{
    border-right: 1px dotted $text-gray;
  }
  .about-us-promise-each-5{
    border-right: 1px dotted $text-gray;
  }
}
}

@media all and (min-width: 992px) {
.section-about-us-promise{
  padding-top: 70px;
  padding-bottom: 70px;
  .about-us-promise-wrapper-inner{
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px 0px;
    .about-us-text-wrapper{
      padding: 0px 22px;
      p{
        font-size: 1rem;
      }
    }
    .about-us-image-wrapper{
      img{
        margin-bottom: 0px;
      }
    }
  }

  .about-us-promise-each-1{
    padding-right: 30px;
  }
  .about-us-promise-each-2{
    padding-left: 30px;
  }
  .about-us-promise-each-3{
    padding-left: 30px;
  }
  .about-us-promise-each-4{
    padding-right: 30px;
  }
  .about-us-promise-each-5{
    padding-left: 30px;
  }
  .about-us-promise-each-6{
    padding-left: 30px;
  }
}
}

@media all and (min-width: 1200px) {
.section-about-us-promise{
  padding-top: 80px;
  padding-bottom: 80px;
  margin-bottom: 14px;
  .about-us-promise-wrapper-inner{
    .about-us-text-wrapper{
      p{
        font-size: 1.2rem;
      }
    }
  }
    .about-us-image-wrapper{
      img{
        width: 86px;
      }
    }
}
}
