
.js--wp-11,
.ws-point-1,
.ws-point-2,
.ws-point-3,
.ws-point-4,
.img-anim-1,
.img-anim-2,
.img-anim-3,
.img-anim-4,
.img-anim-5{
  opacity: 0;
}
.js--wp-11.animated,
.ws-point-1.animated,
.ws-point-2.animated,
.ws-point-3.animated,
.ws-point-4.animated,
.img-anim-1.animated,
.img-anim-2.animated,
.img-anim-3.animated,
.img-anim-4.animated,
.img-anim-5.animated{
  opacity: 1;
}

.delay-05s{
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}