.section-assurance-steps{
  padding-top: 70px;
  padding-bottom: 10px;
  .assurance-steps-row{
    height: auto;
    margin-bottom: 30px;
  }
  .assurance-steps-bg{
    background-color: $bg-gray-md;
    padding: 20px;
    p{
      font-size: .9rem;
    }
    h1{
      margin-bottom: 25px;
    }
    img{
      display: none;
    }
    .assurance-steps-inner{
      img{
        margin-bottom: 20px;
        margin-right: 26px;
      }
    }
  }
}
// Every Second Box
.section-assurance-steps{
  .assurance-steps-row-2{
    height: auto;
    margin-bottom: 30px;
  }  
  .assurance-steps-bg-2{
    background-color: $bg-gray-md;
    padding: 20px;
    p{
      font-size: .9rem;
    }
    h1{
      margin-bottom: 25px;
    }   
    img{
      display: none;
    }
  }
}
/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 768px) {
.section-assurance-steps{
  padding-top: 90px;
  padding-bottom: 0px;
  .assurance-steps-row{
    height: auto;
    margin-bottom: 40px;
  }
  .assurance-steps-bg{
    padding: 56px 200px 56px 60px;
    img{
      display: block;
    }
  }
  .assurance-steps-bg{
    position: relative;
  }
  .assurance-steps-image{
    width: 233px;
    position: absolute;
    bottom: 50px;
    right: 100px;
    transform: translate(50%, 15%);
  }
  .assurance-steps-drop{
    position: relative;
    img{
      position: absolute;
      top: 124px;
      z-index: -1;
    }
  }
}

// Every Second Box
.section-assurance-steps{
  .assurance-steps-row-2{
    height: auto;
    margin-bottom: 40px;
  }  
  .assurance-steps-bg-2{
    padding: 56px 60px 56px 240px;
    img{
      display: block;
    }  
  }
  .assurance-steps-bg-2{
    position: relative;
  }
  .assurance-steps-image-2{
    width: 233px;
    position: absolute;
    bottom: 50px;
    left: 100px;
    transform: translate(-50%, 15%);
  }
  .assurance-steps-drop-2{
    position: relative;
    img{
      position: absolute;
      right: 0;
      top: 124px;
      z-index: -1;
    }
  }
}
}

@media all and (min-width: 992px) {
.section-assurance-steps{
  .assurance-steps-row{
    height: 380px;
    margin-bottom: 0px;
  }
  .assurance-steps-bg{
    padding: 56px 157px 56px 60px;
  }
  .assurance-steps-image{
    width: 392px;
    bottom: 0;
    right: 0;
  }
}
// Every Second Box
.section-assurance-steps{
  .assurance-steps-row-2{
    height: 380px;
    margin-bottom: 0px;
  }  
  .assurance-steps-bg-2{
    padding: 56px 60px 56px 200px;
  }
  .assurance-steps-image-2{
    width: 392px;
    bottom: 0;
    left: 0;
  }
}
}
@media all and (min-width: 1200px) {
.section-assurance-steps{
  .assurance-steps-bg{
    padding: 56px 190px 56px 60px;
  }
}
// Every Second Box
.section-assurance-steps{
  .assurance-steps-bg-2{
    padding: 56px 60px 56px 200px;
  }
}
}
