.front-page-categories{
  padding-bottom: 30px;
  .border-bottom{
    border-bottom: 2px dotted $text-gray;
    padding-bottom: 20px;
    padding-top: 10px;
  }
  .category-wrapper{
    margin-bottom: 16px;
    .category-box{
      max-width: 345px;
      margin: 0 auto;
    }
  }
  a{
    text-decoration: none;
  }
  .card-title{
    margin-bottom: 18px;
  }
  // // // //
  //  Boxes Colors
  // // // //
  .card-title::before{
    content: '';
    width: 9px;
    height: 16px;
    background-color: $red;
    display: inline-block;
    margin-right: 10px;
  }
  .heading-1::before{
    background-color: $blue-dark ;
  }
  .heading-2::before{
    background-color: $orange ;
  }
  .heading-3::before{
    background-color: $gold ;
  }
  .heading-4::before{
    background-color: $purple ;
  }
  .heading-5::before{
    background-color: $yellow ;
  }
  .heading-6::before{
    background-color: $green ;
  }
  .heading-7::before{
    background-color: $red ;
  }
  .heading-8::before{
    background-color: $pink ;
  }
  .heading-9::before{
    background-color: $blue ;
  }
}



/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 576px) {
.front-page-categories{
  padding-bottom: 40px;
  .card-title{
    font-size: .9rem;
  }
}
}
@media all and (min-width: 992px) {
.front-page-categories{
  .border-bottom{
    padding-top: 20px;
  }
  .card-title{
    font-size: 1.2rem;
  }
}
}
@media all and (min-width: 1200px) {
.front-page-categories{
  .border-bottom{
    padding-top: 30px;
  }
  .card-title{
    font-size: 1.3rem;
  }
}
}
