.contact-options{
  padding-top: 40px;
  padding-bottom: 40px;
  .contact-options-row{
    align-items: center;
  }

  .contact-options-text{
    h2{
      font-size: 1.7rem;
      font-weight: 600;
      margin-bottom: 16px;
      line-height: 1.1;
    }
  }
}
/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/

@media all and (min-width: 992px) {
.contact-options{
  padding-top: 80px;
  padding-bottom: 80px;
  .contact-options-row{
    align-items: center;
  }

  .contact-options-text{
    h2{
      font-size: 1.85rem;
    }
  }
}
}
