.contact-main-section{
  background-color: $bg-gray-darker;
  position: relative;
}
.contact{
  padding-top: 50px;
  padding-bottom: 50px;
  .contact-heading{
    h1{
    padding-bottom: 24px;
    }
  }
  .wpcf7-form {
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      opacity: 1;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      opacity: 1;
    }
    :-ms-input-placeholder { /* IE 10+ */
      opacity: 1;
    }
    :-moz-placeholder { /* Firefox 18- */
      opacity: 1;
    }
    .wpcf7-list-item {
      margin: 0 10px 0 0;
    }
    .form-row{
      margin-bottom: 0px;
      padding-top: 0px;
      padding-bottom: 0px;
    }
    .form-group{
      margin-bottom: 0px;
    }
    select{
        width: 100%;
        border-radius: 0px;
        border: none;
        font-size: 1rem;
        color: #717170;
        padding: 8px 10px;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-image: url(../../assets/img/icons/dropdown.svg);
        background-repeat: no-repeat;
        background-position: 97%;
        background-color: #fff;
        margin-bottom: 8px;
    }
    input {
      width: 100%;
      border-radius: 0px;
      border: none;
      font-size: 1rem;
      color: $text;
      padding: 10px 10px;
      margin-bottom: 8px;
    }
    textarea{
      border-radius: 0px;
      border: none;
      font-size: 1rem;
      color: $text;
      padding: 10px 10px;
    }
    .wpcf7-not-valid-tip{
      padding-left: 23px;
      margin-top: -3px;
      margin-bottom: 5px;
    }
    .recaptcha {
      margin: 20px auto 10px auto;
      overflow: hidden;
      .wpcf7-recaptcha {
        div {
          margin: 0 auto;
        }
      }
    }
    .wpcf7-response-output{
      border: 3px solid $brand-primary;
      text-align: center;
    }
    .form-button{
      text-align: center;
      .submit-button{
        width: 285px;
        background-color: $brand-primary;
        color: #ffffff;
        text-transform: uppercase;
        padding: 16px 0px;
      }
    }
  }
}


/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 768px) {
.contact{
  .wpcf7-form {
    input {
      // margin-bottom: 0px;
    }
  }
}
}
@media all and (min-width: 992px) {
.contact{
  padding-top: 70px;
  padding-bottom: 60px;
  .wpcf7-form {
    select{
      font-size: 1.1rem;
      padding: 11px 22px;
    }
    input {
      font-size: 1.1rem;
      padding: 13px 24px;
    }
    textarea{
      font-size: 1.1rem;
      padding: 13px 24px;
    }
  }
}

}

