.section-delivery-stock{
  padding-top: 50px;
  padding-bottom: 50px;
  .delivery-text-box{
    background-color: $bg-gray-darker;
    height: 100%;
    display: flex;
    align-items: center; 
  }
  .delivery-text-box-inner{
    padding: 34px 27px;
    text-align: center;
  }
  .delivery-image-box{
    img{
      display: block;
    }
  }
}
/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 768px) {
.section-delivery-stock{
  padding-top: 80px;
  padding-bottom: 80px;
  width: 571px;
  margin: 0 auto;
  .delivery-text-box-inner{
    padding: 30px 70px;
    text-align: left;
  }
}
}
@media all and (min-width: 992px) {
.section-delivery-stock{
  width: auto;
  .delivery-image-box{
    img{
      height: 100%;
    }
  }
}
}
