.home-page-carousel-two{
  padding-bottom: 40px;
  .main-carousel-wrapper{
    display: block;
    img{
      max-width: 296px;
      margin: 0 auto;
    }
    .main-carousel-text-wrapper{
      width: 100%;
      text-align: center;
    }
  }
  .owl-controls{
    margin-top: 20px;
    height: 10px;
    text-align: center;
    .owl-dot{
      height: 18px;
      width: 18px;
      background-color: $brand-primary;
      display: inline-block;
      margin: 0px 4px;
      opacity: 0.4;
    }
    .owl-dot.active{
      opacity: 1;
    }
  }
}
/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 768px) {
.home-page-carousel-two{
  padding-bottom: 50px;
  .main-carousel-wrapper{
    display: flex;
    align-items: center;
    .main-carousel-text-wrapper{
      width: 95%;
      text-align: left;
      h1{
        font-size: 1.2rem;
        margin-bottom: 10px;
      }
    }
  }
  .owl-controls{
  margin-top: 30px;
  }
}
}

@media all and (min-width: 992px) {
.home-page-carousel-two{
  .main-carousel-wrapper{
    .main-carousel-text-wrapper{
      h1{
        font-size: 1.4rem;
      }
    }
  }
  .owl-controls{
    margin-top: 10px;
  }
}
}

@media all and (min-width: 1200px) {
.home-page-carousel-two{
  .main-carousel-wrapper{
    .main-carousel-text-wrapper{
      h1{
        font-size: 1.95rem;
      }
    }
  }
}
}