.carousel-item{
  .product-image{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 370px;
  }
  h1{
    font-size: 1.2rem;
    color: $white;
    line-height: .9;
    font-family: $main-font;
  }
  .image-box{
    margin-bottom: -5px;
    img{
      width: 100%;
    }
  }
  .text-box{
    background-color: $brand-primary;
    padding: 23px 20px 50px;
    .main-text{
      width: 100%;
    }
    .inner-text-wrapper{
      text-align: center;
    }
    a{
      color: #fff;
      display: inline-block;
      border: 1px solid #fff;
      padding: 6px 13px;
      text-decoration: none;
      font-weight: 400;
      font-size: 1rem;
      text-transform: uppercase;
    }
    a:hover:after{
        width: 100%;
        background: #fff;                
    }
    a:after{
        content: '';
        display: block;
        margin: auto;
        margin-top: 1px;
        height: 1px;
        width: 0px;
        background: transparent;
        transition: width .5s ease, background-color .5s ease;                
    }  
  }
  #button-style{
    margin-top: 20px;
  }
}
.carousel-indicators{
  bottom: 20px;
  li{
    width: 10px;
    height: 10px;
  }
}
/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 467px) {
.carousel-item{
  .product-image{
    top: 30%;
  }
  h1{
    font-size: 1.6rem;
  }
  .text-box{
    padding: 23px 20px 60px;
  }
}
.carousel-indicators{
  li{
    width: 12px;
    height: 12px;
  }
}
}
@media all and (min-width: 768px) {
.carousel-item{
  .product-image{
    max-width: 430px;
  }
  h1{
    font-size: 2.3rem;
  }
}
.carousel-indicators{
  li{
    width: 16px;
    height: 16px;
  }
}
}

@media all and (min-width: 992px) {
.carousel-item{
  .product-image{
    top: 50%;
    left: 46%;
    max-width: 300px;
  }
  h1{
    font-size: 2.2rem;
  }
  .image-box{
    height: 310px;
    img{
      height: 100%;
      width: 100%;
    }
  }
  .text-box{
    height: 310px;
    .inner-text-wrapper{
      padding: 23px 20px;
      text-align: left;
      padding-right: 55px;
      max-width: 425px;
      a{
        padding: 13px 40px;
      }
    }
  }
  #button-style{
    margin-top: 40px;
  }
}

.indocator-wrapper{
  position: relative;
  margin-left: 25%;
}
.carousel-indicators{
  bottom: 32px;
  left: 0;
  right: unset;
  margin-left: 10px;
  li{
    width: 12px;
    height: 12px;
  }
}
}

@media all and (min-width: 1200px) {
.carousel-item{
  .product-image{
    max-width: 380px;
  }
  h1{
    font-size: 2.5rem;
  }
  .image-box{
    height: 360px;
  }
  .text-box{
    height: 360px;
    .inner-text-wrapper{
      padding-right: 45px;
      max-width: 450px;
    }
  }
}
.carousel-indicators{
  bottom: 32px;
  left: 0;
  right: unset;
  margin-left: 10px;
  li{
    width: 15px;
    height: 15px;
  }
}
}

@media all and (min-width: 1600px) {
.carousel-item{
  .product-image{
    top: 50%;
    left: 50%;
    transform: translate(-80%, -50%);
    max-width: 520px;
  }
  h1{
    font-size: 3.6rem;
  }
  .image-box{
    height: 502px;
    img{
      height: 100%;
    }
  }
  .text-box{
    height: 502px;
    .inner-text-wrapper{
      margin-top: -20px;
    }
  }
  #button-style{
    margin-top: 40px;
  }
}
.carousel-indicators{
  bottom: 60px;
  li{
    width: 20px;
    height: 20px;
  }
}
}
