.section-main-text{
  background-color: $bg-gray-md;
  padding-top: 45px;
  padding-bottom: 45px;
  h1{
    margin-bottom: 26px;
  }
  a{
    background-color: $brand-primary;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 10px;
    margin-top: 36px;
    display: inline-block;
    font-weight: 400;
    font-size: .9rem;
    text-decoration: none;
  }
}
/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 768px) {
.section-main-text{
  padding-top: 55px;
  padding-bottom: 55px;
  a{
    padding: 10px 40px;
    font-size: 1rem;
  }
}
}
@media all and (min-width: 992px) {
.section-main-text{
  padding-top: 85px;
  padding-bottom: 85px;
}
.main-text-product-development{
 .section-main-text{
  padding-top: 85px;
  padding-bottom: 65px;
} 
}
}
@media all and (min-width: 1200px) {

}