.map-section{
  position: relative;
  .map-wrapper{
    p{
      margin-bottom: 0;
      line-height: 0;
    }
  }
  .map-text-wrapper{
    background-color: $brand-primary;
    color: #fff;
  }
  .map-box-col{
    padding: 30px 15px;
  }
  .map-box-title{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    h1{
      margin-left: 10px;
      margin-bottom: 0px;
    }
  }
  .map-box-text{
    p{
      padding-top: 9px;
      padding-bottom: 9px;
      font-weight: 300;
      font-size: .9rem;
      border-bottom: 1px solid rgba(255,255,255,0.2);
    }
  }
}




/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 467px) {
.map-section{
  .map-box-title{
    h1{
      margin-left: 20px;
    }
  }
}
}
@media all and (min-width: 992px) {
.map-section{
  .map-text-wrapper{
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
  }
  .map-box-col{
    background-color: $brand-primary;
    padding: 30px 50px;
  }
}
}

@media all and (min-width: 1200px) {
.map-section{
  .map-box-col{
    background-color: $brand-primary;
    padding: 36px 110px;
  }
  .map-box-title{
    display: -webkit-inline-box;
  }
}
}

@media all and (min-width: 1400px) {
.map-section{
  .map-box-col{
    padding: 66px 110px;
  }
}
}