.medium-banner-b-container{
  overflow: hidden;
  .medium-banner-icon{
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 110px;
  }
  .medium-banner-left{
    position: relative;
    line-height: 0;
  }
  .medium-banner-right{
    background-color: $brand-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    .medium-banner-text{
      padding: 30px 30px 30px 30px;
      text-align: center;
      h1{
        text-transform: uppercase;
        color: #fff;
        font-size: 1.7rem;
        font-family: $main-font;
        font-weight: inherit;
      }
      p{
        color: #fff;
        font-size: .9rem;
        font-weight: 300;
      }
      a{
        display: inline-block;
        border: 1px solid #fff;
        padding: 6px 13px;
        margin-top: 16px;
        text-decoration: none;
        font-weight: 400;
        font-size: 1rem;
        text-transform: uppercase;
      }
      a:hover:after{
          width: 100%;
          background: #fff;                
      }
      a:after{
          content: '';
          display: block;
          margin: auto;
          margin-top: 1px;
          height: 1px;
          width: 0px;
          background: transparent;
          transition: width .5s ease, background-color .5s ease;                
      }
    }
  }
}

/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 467px) {
.medium-banner-b-container{
  .medium-banner-icon{
    width: 160px;
  }
}
}
@media all and (min-width: 630px) {
.medium-banner-b-container{
  .medium-banner-icon{
    width: 200px;
  }
}
}
@media all and (min-width: 768px) {
.medium-banner-b-container{
  .medium-banner-icon{
    top: 50%;
    width: 312px;
    left: unset;
    z-index: 999;
    right: 95px;
    transform: translate(50%, -50%);
  }
  .medium-banner-left{
    .bg-image-left{
      height: 100%;
    }
  }
  .medium-banner-right{
    justify-content: start;
    .medium-banner-text{
      margin-left: 20px;
      padding-right: 50px;
      text-align: left;
      max-width: 440px;
      h1{
        font-size: 2.2rem;
      }
    }
  }
}
}
@media all and (min-width: 992px) {
.medium-banner-b-container{
  .medium-banner-icon{
    width: 328px;
    right: 105px;
  }
  .medium-banner-right{
    .medium-banner-text{
      margin-left: 30px;
    }
  }
}
}


@media all and (min-width: 1200px) {
.medium-banner-b-container{
  .medium-banner-icon{
    width: 428px;
    right: 138px;
  }
  .medium-banner-right{
    .medium-banner-text{
      max-width: 530px;
      h1{
        font-size: 3rem;
      }
      p{
        font-size: 1rem;
      }
    }
  }
}
}

@media all and (min-width: 1400px) {
.medium-banner-b-container{
  .medium-banner-right{
    .medium-banner-text{
      h1{
        font-size: 3.6rem;
      }
    }
  }
}
}

@media all and (min-width: 1500px) {
.medium-banner-b-container{
  .medium-banner-right{
    .medium-banner-text{
      a{
        margin-top: 27px;
        padding: 10px 36px;
        font-size: 1.20rem;
      }
    }
  }
}
}

@media all and (min-width: 1800px) {
.medium-banner-b-container{
  .medium-banner-icon{
    width: 512px;
    right: 171px;
  }
}
}