.medium-banner-container{
  position: relative;
  overflow: hidden;
  .medium-banner-icon{
    position: absolute;
    top: 24%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85px;
  }
  .medium-banner-left{
    line-height: 0;
  }
  .medium-banner-right{
    background-color: $brand-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    .medium-banner-text{
      padding: 30px 30px 20px 30px;
      text-align: center;
      h1{
        text-transform: uppercase;
        color: #fff;
        font-size: 1.7rem;
        font-family: $main-font;
        font-weight: inherit;
      }

    }
  }
}

/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 768px) {
.medium-banner-container{
  .medium-banner-icon{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 154px;
  }
  .medium-banner-left{
    img{
      height: 100%;
    }
  }
  .medium-banner-right{
    justify-content: start;
    .medium-banner-text{
      margin-left: 80px;
      text-align: left;
      h1{
        font-size: 2.2rem;
      }
    }
  }
}
}
@media all and (min-width: 1200px) {
.medium-banner-container{
  .medium-banner-right{
    .medium-banner-text{
      h1{
        font-size: 3rem;
      }
    }
  }
}
}
@media all and (min-width: 1400px) {
.medium-banner-container{
  .medium-banner-right{
    .medium-banner-text{
      h1{
        font-size: 3.6rem;
      }
    }
  }
}
}