.medium-banner-c-container{
  overflow: hidden;
  .medium-banner-left{
    position: relative;
    line-height: 0;
  }
  .medium-banner-right{
    background-color: $brand-primary;
    display: flex;
    align-items: center;
    .owl-carousel-banner-three{
      color: #fff;
      .owl-item{
        padding: 30px 30px 10px 30px;
        text-align: center;
        .slide{
          max-width: 781px;
          padding-left: 0px;
          // width: 535px;
          h1{
            font-family: $main-font;
          }
          p{
            font-weight: 300;
          }
        }
      }
      .owl-controls{
          display: inline-block;
          width: 100%
      }
      .owl-controls {
        text-align: center;
        .owl-dot{
          background: none repeat scroll 0 0 #fff;
          display: inline-block;
          height: 14px;
          margin: 14px 4px 14px;
          opacity: 0.5;
          width: 14px;
        }
        .active{
          background-color: #fff;
          opacity: 1;
        }
      }
    }
  }
}

/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 768px) {
.medium-banner-c-container{
  .medium-banner-left{
    .bg-image-left{
      height: 100%;
    }
  }
  .medium-banner-right{
    justify-content: start;
    .owl-carousel-banner-three{
      .owl-item{
        text-align: left;
        padding-bottom: 0px;
        padding-top: 10px;
        .slide{
          h1{
            font-size: 2.2rem;
          }
        }
      }
      .owl-controls{
          padding-left: 26px;
      }
      .owl-controls {
        text-align: left;
      }
    }
  }
}
}
@media all and (min-width: 992px) {
.medium-banner-c-container{
  .medium-banner-right{
    .owl-carousel-banner-three{
      margin-left: 30px;
      .owl-item{
        padding-right: 60px;
      }
      .owl-controls {
        .owl-dot{
          height: 17px;
          width: 17px;
          margin: 30px 4px 14px;
        }
      }
    }
  }
}
}


@media all and (min-width: 1200px) {
.medium-banner-c-container{
  .medium-banner-right{
    .owl-carousel-banner-three{
      .owl-item{
        .slide{
          max-width: 480px;
          h1{
            font-size: 3rem;
          }
          p{
            font-size: 1rem;
          }
        }
      }
    }
  }
}
}

@media all and (min-width: 1400px) {
.medium-banner-c-container{
  .medium-banner-right{
    .owl-carousel-banner-three{
      .owl-item{
        .slide{
          h1{
            font-size: 3.6rem;
          }         
        }
      }
    }
  }
}
}
