.navigation-horizontal-line{
  width:100%;
  height:10px;
  background: linear-gradient(to right, $brand-primary 50%, $brand-tertiary 50%);
} 
.arrow-top{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 23px 0 23px;
  border-color: #ffffff transparent transparent transparent;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}
.red-text{
  color: $red !important;
  text-decoration: none !important;
  font-weight: 500;
}
.red-text:hover,
.red-text:active{
  color: $red;
  opacity: 0.8;
}
.woocommerce-error{
  max-width: 1110px;
  margin: 0 auto 2em;  
}
.woocommerce-message{
  max-width: 1110px;
  margin: 0 auto 2em;  
  border-top-color: #4a4a48;
}
.map-box{
    width: 100%;
    height: 500px;
    position: relative;
}
.map{
    width: 100%;
    height: 560px;
    z-index:0;
    position: relative;
}
/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
