.main-navigation{
  background-color: $brand-secondary;
  padding-bottom: 5px;
  .menu-menu-1-container{
    width: 100%;
  }
  ul#primary-menu{
    display: flex;
    li{
      text-align: center;
      margin-bottom: 7px;
      a{
        color: $white;
        font-size: 1rem;  
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        display: inline-block;
      }
      a:after{
          content: '';
          display: block;
          margin: auto;
          margin-top: 6px;
          height: 2px;
          width: 0px;
          background: transparent;
          transition: width .5s ease, background-color .5s ease;                
      }
      a:hover:after{
          width: 80%;
          background: #fff;                
      }
    }  
  }
}


/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 992px) {
.main-navigation{
  padding-bottom: 0px;
  ul#primary-menu{
    justify-content: space-between;
    li{
      margin-bottom: 0px;
      display: flex;
      align-items: center;
      a{
        font-size: .9rem;  
        display: block;
      }
      a:first-child{
        padding-left: 0px;
      }
      a:last-child{
        padding-right: 0px;
      }
    }
    li::after{
      content: url("../../assets/img/icons/menu-line-thick.svg");
      width: 3px;
    }
    li:last-child::after{
        content: "";
        margin-right: 0px !important;
    }    
  }
}
}

@media all and (min-width: 1200px) {
.main-navigation{
  ul#primary-menu{
    li{ 
      padding: .3rem .9rem;
      a{
        font-size: .9rem;  
      }
    }
  }
}
}