.section-products-carousel{
  padding-top: 10px;
  .products-carousel-heading{
    border-bottom: 2px dotted #a1a0a4;
    padding-bottom: 12px;
    margin-bottom: 48px;    
  }
  .category-wrapper{
    padding: 22px;
    a{
      text-decoration: none;
    }
    h3{
      font-size: .9rem;
      display: flex;
      min-height: 29px;
      margin-bottom: 10px;
    }
  }
  .products-carousel-row{
    position: relative;
  }
  .owl-controls{
    position: absolute;
    top:30%;
    transform: translateY(50%);
    width: 100%;
    .owl-nav{
      display: flex;
      justify-content: space-between;

      .owl-prev{
        margin-left: -50px;
        background: url("../../assets/img/icons/icon-left.svg") no-repeat;
        text-indent: -9999px;
        width: 36px;
        height: 50px;
      }
      .owl-next{
        margin-right: -50px;
        background: url("../../assets/img/icons/icon-right.svg") no-repeat;
        text-indent: -9999px;
        width: 36px;
        height: 50px;
      }
    }
  }
  // // // //
  //  Boxes Colors
  // // // //
  .card-title::before{
    content: '';
    width: 9px;
    height: 16px;
    background-color: $red;
    display: inline-block;
    margin-right: 10px;
  }
  .heading-1::before{
    background-color: $blue-dark ;
  }
  .heading-2::before{
    background-color: $orange ;
  }
  .heading-3::before{
    background-color: $gold ;
  }
  .heading-4::before{
    background-color: $purple ;
  }
  .heading-5::before{
    background-color: $yellow ;
  }
  .heading-6::before{
    background-color: $green ;
  }
  .heading-7::before{
    background-color: $red ;
  }
  .heading-8::before{
    background-color: $pink ;
  }
  .heading-9::before{
    background-color: $blue ;
  }
}


/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 768px) {
.section-products-carousel{
  .category-wrapper{
    h3{
      font-size: .9rem;
    }
  }
}
}
@media all and (min-width: 1200px) {
.section-products-carousel{
  padding-bottom: 40px;
  .category-wrapper{
    h3{
      font-size: 1.25rem;
    }
  }
}
}
