.home-page-carousel-two{
  padding-top: 30px;
  padding-bottom: 50px;
  .home-page-carousel-two-extra{
    .main-carousel-text-wrapper{
      margin-bottom: 20px;
      h1{
        margin-bottom: 26px;
      }
    }
    .main-carousel-image-wrapper{
      img{
        max-width: none;
      }
    }

    .owl-controls{
      text-align: center;
    }
  }
}



/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 768px) {
.home-page-carousel-two{
  padding-top: 50px;
  padding-bottom: 50px;
  .home-page-carousel-two-extra{
    .main-carousel-text-wrapper{
      margin-bottom: 0px;
      margin-top: -20px;
      h1{
        margin-bottom: 26px;
      }
      p{
        font-size: .9rem;
      }
    }
  }
}
}
@media all and (min-width: 992px) {
.home-page-carousel-two{
  .home-page-carousel-two-extra{
    .main-carousel-text-wrapper{
      margin-top: -40px;
      p{
        font-size: 1rem;
      }
    }
    .owl-controls{
      position: absolute;
      bottom: 30px;
      left: 10px;
    }
  }
}
}

@media all and (min-width: 1200px) {
.home-page-carousel-two{
  .home-page-carousel-two-extra{
    .main-carousel-text-wrapper{
      margin-top: -80px;
    }
    .owl-controls{
      position: absolute;
      bottom: 80px;
      left: 10px;
    }
  }
}
}