.section-product-showcase{
  padding-top: 60px;
  padding-bottom: 50px;
  .product-showcase-text-wrapper{
    background-color: $bg-gray-dark;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .product-showcase-container-inner{
    max-width: 540px;
    margin: 0 auto;
  }
  .product-showcase-text{
    padding: 30px 26px 30px 26px;
    h1{
      color: $brand-primary;
    }
    p{
      font-size: .9rem;
    }
    h3{
      position: relative;
      font-size: .9rem;
      text-transform: initial;
      font-weight: 400;
      border-top: 1px solid $bg-gray-darker2;
      margin-left: 40px;
      padding: 11px 0px;
      letter-spacing: -0.08px;
      
      &::before{
        content: url('../../assets/img/icons/icon-list.svg');
        position: absolute;
        left: -40px;
        top: 10px;
        
      }
    }
    h3:last-child{
      border-bottom: 1px solid $bg-gray-darker2;
    }
  }
}

/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 768px) {
.section-product-showcase{
  padding-top: 82px;
  padding-bottom: 50px;
  .product-showcase-text{
    padding: 30px 26px 34px 26px;
  }
}
}
@media all and (min-width: 992px) {
.section-product-showcase{
  .product-showcase-container-inner{
    max-width: none;
    margin: 0 auto;
  }
  .product-showcase-text-wrapper{
    padding: 25px 0px;
  }
  .product-showcase-text{
    padding: 0px 66px 0px 56px;
    h3{
      font-size: 1.1rem;
    }
  }
  .products-showcase-image-wrapper{
    height: 100%;
    img{
      height: 100%;
    }
  }
}
}

@media all and (min-width: 1200px) {
.section-product-showcase{
  .product-showcase-text-wrapper{
    padding: 0px 0px;
  }
}
}