.tag-search-container{
  padding-top: 15px;
  padding-bottom: 15px;
  .header-logo-wrapper{
    text-align: center;
    padding: 20px 0px;
  }
  .tag-search-wrapper{
    align-items: center;
    justify-content: end;
    justify-content: flex-end;
    label{
      font-size: 1.05rem;
      font-weight: 300;
      font-family: $main-font;
      border: 1px solid $bg-gray-darker;
      padding: 2px 100px 2px 20px;
      height: 41px;
      margin-right: -7px;
    }
    select{
      font-size: 1.05rem;
      font-weight: 300;
      font-family: $main-font;
      border: 1px solid $bg-gray-darker;
      height: 41px;     
      padding: 0px 60px 0px 10px;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-image: url(../../assets/img/icons/dropdown.svg);
      background-repeat: no-repeat;
      background-position: 94%;
    }
    select:focus{
      outline: none !important;
    }
    .choose-tag-button{
      background-color: $brand-primary;
      color: #fff;
      height: 41px;
      display: flex;
      align-items: center;
      padding: 0px 18px;
      font-weight: 500;
      margin-top: 2px;
    }
  }
}