.three-boxes{
  background-color: $bg-gray-darker;
  padding-top: 48px;
  padding-bottom: 10px;
  .the-box-single{
    display: content;
    max-width: 388px;
    margin: 0 auto;
    margin: 0 auto;
    margin-bottom: 40px;
    a{
      text-decoration: none !important;
    }
  }
  .box-single-1, .box-single-3, .box-single-5{
    background-color: $brand-secondary;
  }
  .box-single-2, .box-single-4, .box-single-6{
    background-color: $brand-primary;
  }
  .the-box-single-wrapper{
    color: #fff;
    text-align: center;
    display: flex;
    height: 100%;
    .box-title{
      padding: 30px 30px 37px;
      h2{
        font-size: 1.4rem;
        font-family: $main-font;
        font-weight: inherit;
      }
    }
    .box-icon{
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
    }
    .box-image{
      position: relative;
      margin-bottom: -4px;
      img{
        width: 100%;
      }
    }
  }
}
/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 768px) {
.three-boxes{
  padding-top: 48px;
  padding-bottom: 10px;
  .the-box-single{
    margin: 0px 0px;
    margin-bottom: 40px;
  }
  .the-box-single-wrapper{
    .box-title{
      padding: 30px 20px 37px;
      height: 141px;
      overflow: hidden;
      h2{
        font-size: 1.1rem;
      }
    }
  }
}
}

@media all and (min-width: 992px) {
.three-boxes{
  .the-box-single-wrapper{
    .box-title{
      height: 121px;
      h2{
        font-size: 1.2rem;
      }
    }
  }
}
}

@media all and (min-width: 1200px) {
.three-boxes{
  .the-box-single-wrapper{
    .box-title{
      height: 131px;
      h2{
        font-size: 1.45rem;
      }
    }
  }
}
}