.single-product-three-icons{
  .three-icons-section{
    padding-top: 16px;
    padding-bottom: 16px;
  }
  p{
    font-size: .9rem;
    font-weight: 500;
    font-family: $title-font;
    margin-bottom: 8px;
    padding: 0px 40px;
  }
  .three-icons-row{
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }
  img{
    margin-bottom: 8px;
  }
  .red-text{
    color: $red;
    font-weight: 600;
  }
}
/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 467px) {
.single-product-three-icons{
  p{
    font-size: 1rem;
    padding: 0px;
  }
  .three-icons-row{
    margin-bottom: 30px;
  }
}
}
@media all and (min-width: 992px) {
.single-product-three-icons{
  .three-icons-section{
    border-bottom: 1px dotted #a1a0a4;
    border-top: 1px dotted #a1a0a4;
  }
  .single-product-section-three-icons{
    padding-bottom: 70px;
  }

  .three-icons-row{
    text-align: left;
    margin-bottom: 0px;
  }
  img{
    margin-bottom: 0px;
    
  }
  p{
    font-size: 1.1rem;
    padding: 0px 19px 0px 15px;
  }
}
}

