.section-three-icons{
  padding-top: 30px;
  padding-bottom: 20px;
  p{
    font-size: 1rem;
    font-weight: 500;
    font-family: $title-font;
    margin-bottom: 8px;
    padding: 0px 40px;
  }
  .three-icons-row{
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }
  img{
    margin-bottom: 8px;
  }
}
/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 467px) {
.section-three-icons{
  p{
    font-size: 1.2rem;
    padding: 0px;
  }
}
}
@media all and (min-width: 992px) {
.section-three-icons{
  padding-top: 60px;
  padding-bottom: 50px;
  .three-icons-row{
    text-align: left;
    margin-bottom: 0px;
  }
  img{
    margin-bottom: 0px;
  }
}
}

