.share-bakerite{
  background-color: $bg-gray-dark;
  .share-bakerite-row{
    align-items: center;
    padding: 23px 44px;
  }
  h3{
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .share-bakerite-icons{
    display: flex;
    justify-content: center;
    img{
      margin-left: 8px;
    }
  }
}

.single-post-back-button{
  margin-top: 18px;
  padding-bottom: 40px;
  .back-button-container{
    background-color: $red;
    color: #fff;
    a{
      text-decoration: none;
      font-size: 1.1rem;
      display: block;
      padding: 11px;
    }
  }
}

/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 768px) {
.share-bakerite{
  h3{
    text-align: left;
    margin-bottom: 0px;
  }
  .share-bakerite-icons{
    justify-content: flex-end;
  }
}
}
@media all and (min-width: 992px) {
.single-post-back-button{
  padding-bottom: 70px;
}
}
