.all-posts{
  padding-top: 30px;
  padding-bottom: 38px;
  .all-posts-wrapper{
    color: #fff;
    text-align: center;
    a{
      color: $white;
      font-size: 1rem;  
      font-weight: 600;
      text-transform: uppercase;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }
    a:after{
        content: '';
        display: block;
        margin: auto;
        margin-top: 0px;
        height: 1px;
        width: 0px;
        background: transparent;
        transition: width .5s ease, background-color .5s ease;                
    }
    a:hover:after{
        width: 100%;
        background: #fff;                
    }
    
    article{
      background-color: $red;
      max-width: 350px;
      margin: 0 auto;
      margin-bottom: 30px;
    }
    .category-article{
      background-color: $red;
    }
    .category-video{
      background-color: $orange;
    }
    .posts-main-text{
      padding: 40px 20px 35px;
      text-transform: uppercase;
    }
    .main-title{
      font-size: 1.35rem;
    }
    .post-type-title{
      font-size: 1.35rem;
      font-weight: 600;
      margin-top: 6px;
    }
    .post-date-added{
      margin-top: 7px;
      font-size: .7rem;
    }
    img{
      display: block;
    }
    .post-image{
      position: relative;
      .posts-icon{
        width: 50px;
        position: absolute;
        top: -28px;
        left: 50%;
        transform: translateX(-50%);
      }
      a{
        display: block;
      }
      a::after{
        display: none;
      }
    }
  }

  .posts-button{
    display: block;
    .alm-btn-wrap{
      margin-top: 20px;
    }
    button{
      height: 50px;
      width: 300px;
      font-size: 1.1rem;
      text-transform: uppercase;
      border-radius: 0px;
      font-family: $title-font;
      font-weight: 400;
      background-color: $red;
      &::before{
        margin-top: 12px !important;
      }
    }
  }

// Animation Box Overlay
.wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
  a{
    z-index: 999;
  }
}
.display-flex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}
.tile {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}
.sheet {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.text-center {
  align-items: center;
  font-family: Montserrat, sans-serif;
}
img {
  width: 100%;
}
.hover-target .hover-display {
  opacity: 0;
}
.hover-target:hover .hover-display {
  opacity: 1;
}
.hover-target .hover-scale,
.hover-target .hover-display,
.hover-target [class*="hover-slide-"] {
  transition: 0.3s;
}
.hover-target:hover .hover-scale {
  transform: scale(1.05);
}
.hover-target .hover-slide-up {
  transform: translate3d(0px, 100%, 0px);
}
.hover-target .hover-slide-down {
  transform: translate3d(0px, -100%, 0px);
}
.hover-target .hover-slide-right {
  transform: translate3d(-100%, 0px, 0px);
}
.hover-target .hover-slide-left {
  transform: translate3d(100%, 0px, 0px);
}
.hover-target:hover .hover-slide-up,
.hover-target:hover .hover-slide-down,
.hover-target:hover .hover-slide-right,
.hover-target:hover .hover-slide-left {
  transform: translate3d(0px, 0px, 0px);
}

}

.all-posts.all-posts-videos{
  .posts-button{
    button{
      background-color: $orange;
      &::before{
        margin-top: 12px !important;
      }
    }
  }  
}


.posts-button{
  width: 100%;
  .all-posts-wrapper{
    float: left;
  }
}






/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 576px) {
.all-posts{
  .all-posts-wrapper{
    .main-title{
      height: 44px;
      overflow: hidden;
    }
  }
}
}
@media all and (min-width: 1200px) {
.all-posts{
  .all-posts-wrapper{
    .main-title{
    }
  }
}
}