.view-all-posts-container{
  padding-top: 58px;
  .view-all-posts-inner{
    background-color: $bg-gray-dark;
    ul{
      display: flex;
      // justify-content: space-around;
      li{
        width: 33.33%;
        flex-grow: 1;
        text-align: center;
        border-right: 1px solid rgba(161, 160, 164, 0.5);
        a{
          font-family: $title-font;
          opacity: 0.5;
          text-decoration: none;
          font-size: .75rem;
          font-weight: 600;
          display: block;
          padding: 16px 0px;
          text-transform: uppercase;
        }
      }
      li:hover{
        background-color: $bg-gray-md;
        a{
          opacity: 1;
        }
      }
      li:last-child{
        border-right: none;
      }
      li.current-menu-item{
        a{
          opacity: 1;
        }
      }
    }
  }
}



/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 576px) {
.view-all-posts-container{
  .view-all-posts-inner{
    ul{
      li{
        a{
          font-size: 1rem;
        }
      }
    }
  }
}
}

