.single-post-container{
  padding-top: 10px;
  .single-post-heading{
    border-bottom: 2px dotted #a1a0a4;
    padding-bottom: 20px;
    margin-bottom: 10px;
  }
  .single-post-info-wrapper{
    display: flex;
    font-size: .75rem;
  }
  .single-post-date-wrapper{
    display: flex;
    align-items: start;
    span{
      margin-right: 8px;
    }
  }
  .single-post-category-wrapper{
    margin-left: 16px;
    display: flex;
    align-items: start;
    span{
      margin-right: 8px;
    }
  }
  .main-entry-wrapper{
    padding-top: 20px;
    img{
      display: block;
    }
    p{
      margin-bottom: 18px;
    }
  }
}

// Post Search Heading
.posts-search-template{
  padding-top: 30px;
  .posts-search-heading{
    border-bottom: 2px dotted #a1a0a4;
    padding-bottom: 20px;
    margin-bottom: 10px;
  }
}

/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 467px) {
.single-post-container{
  padding-top: 40px;
  .single-post-heading{
    padding-bottom: 24px;
    margin-bottom: 12px;
  }
  .single-post-info-wrapper{
    font-size: .95rem;
  }
  .main-entry-wrapper{
    padding-top: 30px;
    p{
      margin-bottom: 34px;
    }
  }
}
}
