.single-post-widget{
  margin-top: 0em;
  h2{
    color: #fff;
    font-size: .9rem;
    text-transform: uppercase;
    background-color: $brand-secondary;
    font-weight: 500;
    padding: 11px 10px 11px 20px;
    margin-bottom: 8px;
  }
  ul{
    li{
      padding: 14px 0px;
      border-bottom: 1px solid $text-gray;
      a{
        text-decoration: none;
      }
      a:hover{
        opacity: 0.8;
      }
    }
    li.current-cat{
      font-weight: 600;
    }
    li:last-child{
      margin-bottom: 36px;
    }
  }
}

/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 992px) {
.single-post-widget{
  margin-top: 1.5em;
  .widget-area{
    margin-top: 55px;
  }
}
}

