.cm-signup {
    width: auto;
    position: relative;
    display: inline-block;
    p {
        display: inline-block;
        margin-right: 35px;
    }
    button, input[type="button"], input[type="reset"], input[type="submit"] {
        background: $brand-primary;
        background: url('../../assets/img/subscribe.svg') 0 0 no-repeat;
        border: none;
        height: 35px;
        width: 35px;
        content: '>';
        display: inline-block;
        position: absolute;
        top: 50%;
        right: 15px;
        margin-top: -17px;

    }
    .btn-signup, a.btn-signup {
        min-height: 50px;
        margin: 0 0 0 5px;
    }
}