body {
    font-family: $main-font;
    font-style: normal;
    font-size: 1em;
    line-height: 1;
    font-weight: 300;
    width: 100%;
    background: white;
    color: $text;
    max-width: 1960px;
    margin: 0 auto;
}

.titles{
    font-family: $title-font;
}

a:focus{
    outline: none!important;
}

a {
    text-decoration: none;
    &:hover {
    }
}

/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 768px) {

}
@media all and (min-width: 992px) {
}