// Colors
$brand-primary: #d02e26;
$brand-secondary: #4a4a48;
$brand-dark: #45423f;
$brand-tertiary: #e08330;
$text: #4a4a48;
$text-gray: #a1a0a4;

$black: #000000;
$white: #ffffff;
$bg-gray: #f8f8f8;
$bg-gray-md: #f6f6f6;
$bg-gray-dark: #f1f1f1;
$bg-gray-darker: #ececec;
$bg-gray-darker2: #d8d8d8;


// Boxes Colors
$red: #d23b2e;
$green: #4da247;
$blue-dark: #243e70;
$purple: #66287d;
$orange: #e18432;
$pink: #b4297b;
$gold: #885424;
$yellow: #f4c443;
$blue: #5ea8d4;

// Type
$main-font: "nimbus-sans",sans-serif; 
$title-font: "co-text",sans-serif;



// Buttons


// Inputs
$input-border-focus: $brand-primary;
$input-box-shadow-focus: transparentize($input-border-focus, 0.4);




