#button-style{
  .mybutton{
    background-color: $brand-primary;
    text-transform: uppercase;
    color: #fff;
    font-size: .8rem;
    width: auto;
    font-family: $title-font;
    padding: 16px 23px;
    cursor: pointer;
  }
}

#button-style{
  .mybutton-outline{
    font-size: .8rem;
    padding: 5px 18px;
    width: auto;
    cursor: pointer;
  }
}

/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 467px) {
#button-style{
  .mybutton-outline{
    font-size: 1rem;
    padding: 7px 20px;
  }
}
}
@media all and (min-width: 768px) {
#button-style{
  .mybutton{
    background-color: $brand-primary;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.1rem;
    width: auto;
    font-family: $title-font;
    padding: 16px 53px;
  }
}

#button-style{
  .mybutton-outline{
    font-size: 1.1rem;
    padding: 8px 26px;
  }
}
}
@media all and (min-width: 992px) {

.mybutton{

}

#button-style{
  .mybutton-outline{
    font-size: 1.2rem;
    padding: 13px 40px;
  }
}  
}