h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    line-height: 1;
    font-weight: 600;
    font-family: $title-font;
}
h2 {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.4em;
    font-family: $title-font;
}
h3 {
    font-size: 1.2rem;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 600;
}
h4 {
  font-size: 1rem;
  line-height: 1;
}
p{
    line-height: 1.4;
    font-weight: 300;
    font-size: 1.05rem;
}
.bold, strong {
    font-weight: 700;
}


/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 768px) {

}
@media all and (min-width: 992px) {
    h1 {
        font-size: 1.95rem;
    }
    h2 {
        font-size: 1.55rem;
    }
    h3 {
        font-size: 1.3rem;
    }
}
