.woocommerce-products-header{
  color: $red;
  margin-top: 30px;
  h1{
    border-bottom: 1px dotted $text-gray;
    padding-bottom: 14px;
    margin-bottom: 0px;
    width: 100%;
  }
}
.archive-product-container{
  .archive-product-row{
    .woocommerce-result-count{
      font-size: .9rem;
      float: right;
      margin-right: 10px;
      margin-top: 11px;
    }
    select{
        padding: 11px 15px 11px 11px;
        border-radius: 0px;
        border: 1px solid $red;
        color: $red;
        font-size: .9rem;
        -webkit-appearance: none !important;
        -moz-appearance: none;
        background-image: url('../../assets/img/icons/dropdown-products.svg');
        background-repeat: no-repeat;
        background-position: 97%;
        background-color: #fff;     
    }
  }
}
.woocommerce{
  .container-contact{
    .form-group{
      margin-bottom: 0px;
    }
    .contact-text-field{
      padding: 0px 8px;
    }
    .recaptcha{
      padding: 0px 8px;
    }
  }
}
.archive.woocommerce{
  .woocommerce-breadcrumb{
    display: none;
  }
}

/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 992px) {
.woocommerce-products-header{
  margin-top: 60px;
  h1{
    padding-bottom: 22px;
    margin-bottom: -23px;
    width: 64%;
  }
}
}
@media all and (min-width: 1200px) {
.woocommerce-products-header{
  h1{
    margin-bottom: -25px;
    width: 68%;
  }
}
}
