.archive-product-container, .single-product{
  .products{
    padding-top: 16px !important;
    .product{
      text-align: center;
      .woocommerce-LoopProduct-link{
        .product-meta{
          color: $red;
          font-size: .9rem;
          font-weight: 400;
          letter-spacing: -1px;
        }
        h2.woocommerce-loop-product__title{
          font-family: $main-font;
          font-weight: 500;
          font-size: 1.1rem;
          padding-top: 0px;
          padding-bottom: 0px;
          height: 47px;
          overflow: hidden;
        }
      }
      a.button{
        color: #fff;
        background-color: $red;
        font-family: $main-font;
        border-radius: 0px;
        font-weight: 500;
        font-size: .7rem;
        text-transform: uppercase;
        padding: 15px 18px;
        letter-spacing: 1px;
        margin-top: 5px !important;
        -webkit-transition: 0.3s all ease-out;
        -moz-transition: 0.3s all ease-out;
        -o-transition: 0.3s all ease-out;
        transition: 0.3s all ease-out;
      }
      a:hover{
        color: rgba(0,0,0,0.5);
      }
    }
  }
}

.single-product{
  .products{
    .product{
      .product-meta{
        display: none;
      }
    }
  }
}
/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 360px) {

}
@media all and (min-width: 467px) {
.archive-product-container{
  .products{
    padding-top: 36px !important;
    .product{
      a.button{
        padding: 15px 40px;
        font-size: .9rem;
      }
    }
  }
}
}
@media all and (min-width: 768px) {

}

@media all and (min-width: 992px) {
.single-product{
  .products{
    padding-top: 36px !important;
    .product{
      a.button{
        padding: 15px 40px;
        font-size: .9rem;
      }
    }
  }  
}
}

@media all and (min-width: 1300px) {

}
