.enquiry-basket-header{
  padding-top: 40px;
  padding-bottom: 10px;
}

#yith-ywraq-form{
  .shop_table{
    border-radius: 0px;
    th{
      background-color: $brand-primary;
      color: #fff;
      padding: 15px 12px;
    }
    td{
      padding: 12px 12px;
      font-weight: 500;
    }
    a.yith-ywraq-item-remove.remove{
      color: $brand-primary !important;
    }
    a.yith-ywraq-item-remove.remove:hover{
      color: #fff !important;
      background-color: $brand-primary !important;
    }
    tbody{
      .cart_item{
        img{
          width: auto;
          max-height: 150px;
        }
      }
      .input-text.qty{
        border-radius: 0px;
      }
      .actions{
        .button{
          color: #fff;
          background-color: $brand-secondary;
          border-radius: 0px;
          -webkit-transition: 0.3s all ease-out;
          -moz-transition: 0.3s all ease-out;
          -o-transition: 0.3s all ease-out;
          transition: 0.3s all ease-out;
        }
        .button:hover{
          color: $brand-secondary;
          background-color: $bg-gray-darker2;
        }
      }

    }
  }
}

/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 360px) {

}
@media all and (min-width: 467px) {

}
@media all and (min-width: 768px) {

}

@media all and (min-width: 992px) {

}

@media all and (min-width: 1200px) {

}