.yith-ywraq-mail-form-wrapper{
      padding: 10px;
      background-color: $bg-gray-darker;
  h3{
    margin-bottom: 16px;
  }
  #yith-ywraq-mail-form{
    .button.raq-send-request{
      color: #fff;
      background-color: $brand-secondary;
      border-radius: 0px;
      -webkit-transition: 0.3s all ease-out;
      -moz-transition: 0.3s all ease-out;
      -o-transition: 0.3s all ease-out;
      transition: 0.3s all ease-out;
    }
    .button.raq-send-request:hover{
      color: $brand-secondary;
      background-color: $bg-gray-darker2;
    }
    .form-group{
      input{
        border-radius: 0px;
        padding: 4px 12px;
      }
      textarea{
        border-radius: 0px;
        padding: 4px 12px;
      }
    }
  }
}

/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 360px) {

}
@media all and (min-width: 467px) {

}
@media all and (min-width: 768px) {
.yith-ywraq-mail-form-wrapper{
      padding: 40px;
}
}

@media all and (min-width: 992px) {

}

@media all and (min-width: 1200px) {

}