.woocommerce{
  .archive-product-container{
    .woocommerce-pagination{
      margin-bottom: 60px;
      margin-top: 8px;
      ul{
        border: none;
        li{
          border: none;
          margin: 0px 4px;
          
          .current{
            background-color: $brand-secondary !important;
            color: #fff;
          }
          .page-numbers{
            background-color: $bg-gray-md;
            width: 28px;
            height: 28px;
            line-height: 1;
            font-size: .9rem;            
          }
          .prev.page-numbers{
            background: #fff;
            padding: 0px;
            margin-right: 6px;
          }
          .next.page-numbers{
            background: #fff;
            padding: 0px;
            margin-left: 6px;
          }
        }

      }
    }
  }
}
