.single-product-container{
  .wrps_related_products_area{
    margin-bottom: 40px;
    h2{
      border-bottom: 1px dotted #a1a0a4;
      padding-bottom: 11px;
      margin-bottom: 11px;
    }
    .wpb-wrps-item{
      background-color: #fff !important;
      h3.wpb_wrps_title{
        margin-bottom: 0px;
        a{
          color: $text !important;
          font-family: $main-font;
          font-weight: 500;
          font-size: 1.1rem;
          padding-top: 0px;
          padding-bottom: 0px;
          height: 41px;
          overflow: hidden;  
          text-transform: initial !important;    
          display: block;
          padding: 10px;
        }
      }
      .wpb_wrps_cart_btn{
        a{
          color: #fff;
          background-color: $red !important;
          font-family: $main-font;
          border-radius: 0px;
          font-weight: 500;
          font-size: .7rem;
          text-transform: uppercase;
          padding: 15px 18px;
          letter-spacing: 1px;
          margin-top: 5px !important;      
          border: none;   
        }
      }
    }
    .owl-controls.clickable{
      .owl-pagination{
        display: none !important;
        .owl-page{
          display: none !important;
        }
      }
    }
    .owl-buttons{
      top: -48px;
    }
  }
}
/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 467px) {
.single-product-container{
  .wrps_related_products_area{
    h2{
      padding-bottom: 11px;
      margin-bottom: 17px;
    }
    .owl-buttons{
      top: -57px;
    }
  }
}
}
@media all and (min-width: 768px) {
.single-product-container{
  .wrps_related_products_area{
    margin-bottom: 80px;
    h2{
      padding-bottom: 11px;
      margin-bottom: 28px;
    }
    .owl-buttons{
      top: -68px;
    }
    .wpb-wrps-item{
      .wpb_wrps_cart_btn{
        a{
          padding: 15px 40px;
          font-size: .9rem;   
        }
      }
    }
  }
}
}
@media all and (min-width: 992px) {
.single-product-container{
  .wrps_related_products_area{
    margin-bottom: 80px;
    h2{
      padding-bottom: 11px;
      margin-bottom: 33px;
    }
    .owl-buttons{
      top: -73px;
    }
  }
}
}
@media all and (min-width: 1300px) {
.single-product-container{
  .wrps_related_products_area{
    position: relative;
    .owl-buttons{
      top: 27%;
      transform: translateY(-50%);
      width: 100%;
      .owl-prev{
        position: absolute;
        left: -78px;
        border: none !important;
        i{
          background: url("../../assets/img/icons/icon-left.svg") no-repeat !important;
          width: 36px;
          height: 50px;
          font-size: 0px !important;
        }
      }
      .owl-next{
        position: absolute;
        right: -85px;
        border: none !important;
        i{
          background: url("../../assets/img/icons/icon-right.svg") no-repeat !important;
          width: 36px;
          height: 50px;
          font-size: 0px !important;
        }
      }
    }
  }
}
}
