.icons-percentage-section{
    border-bottom: 1px dotted #a1a0a4;
    border-top: 1px dotted #a1a0a4;
    padding-top: 14px;
    padding-bottom: 4px;
  .icons-percentage-wrapper{
    margin-bottom: 20px;
    .icons-percentage-image{
      position: relative;
      .icons-percentage-percentage{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 600;
        font-size: .8rem;
      }
    }
    .icons-percentage-text{
      margin-top: 5px;
      font-weight: 600;
      font-size: .8rem;
    }
  }
}
/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 992px) {
.icons-percentage-section{
  .icons-percentage-wrapper{
    .icons-percentage-image{
      .icons-percentage-percentage{
        font-size: .9rem;
      }
    }
    .icons-percentage-text{
      font-size: .9rem;
    }
  }
}
}
@media all and (min-width: 1200px) {
.icons-percentage-section{
    padding-top: 20px;
    padding-bottom: 20px;
  .icons-percentage-wrapper{
    .icons-percentage-image{
      .icons-percentage-percentage{
        font-size: 1rem;
      }
    }
    .icons-percentage-text{
      font-size: 1rem;
    }
  }
}
}
