.single-product-container{
  .woocommerce-breadcrumb{
    padding: 20px 0px 20px 4px; 
    margin-bottom: 0px;
    color: $text;
    font-size: .8rem;
    a{
      text-transform: capitalize;
      color: $text;
    }
  }
}
/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 768px) {
.single-product-container{
  .woocommerce-breadcrumb{
    padding: 30px 0px 30px 4px; 
    font-size: .9rem;
  }
}
}