.container.single-product-container{
  .woocommerce-tabs.wc-tabs-wrapper{
    .tabs{
      display:flex;
      flex-direction:row;
      justify-content: space-between;
      margin-bottom: 0px !important;
      padding-left: 0px!important;
      li{
        flex: 1 100%;
        background-color: $bg-gray-md !important;
        text-align: center;
        border-radius: 0px!important;
        border-top: none;
        border-bottom: none;
        a{
        color: $brand-secondary!important;
        text-transform: uppercase;
        font-size: .7rem;
        font-weight: 400!important;
        padding: 16px 0px;
        display: block;
        }
        a:focus{
          outline: none;
        }
        a:active{
          border: none;
        }
      }
      li::before{
        display: none!important;
      }
      li:after{
        display: none!important;
      }
      li.active{
        background-color: $brand-secondary!important;
        a{
          color: #fff !important;
        }
      }
    }
    .woocommerce-Tabs-panel{
      margin-bottom: 6px;
      overflow-x: scroll;
      padding: 20px 25px 20px;
      p{
        font-size: .9rem;
      }
      .bakerite-table{
        margin-top: 30px;
        tr{
          border: none;
        }
        th{
          background-color: $red;
          border: none;
          color: #fff;
          text-transform: uppercase;
          font-weight: 500;
          font-size: .8rem;
        }
        th.bg-white{
          background-color: #fff;
        }
        td{
          border: none;
          font-size: .8rem;
        }
      }
    }
    #tab-product-description, .entry-content{
      border-bottom: 1px solid $bg-gray-darker;
      border-left: 1px solid $bg-gray-darker;
      border-right: 1px solid $bg-gray-darker;
      border-radius: 0px;
      .yikes-custom-woo-tab-title{
        display: none;
      }
    }
  }
}
/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 360px) {

}
@media all and (min-width: 467px) {

}
@media all and (min-width: 768px) {
.container.single-product-container{
  .woocommerce-tabs.wc-tabs-wrapper{
    .woocommerce-Tabs-panel{
      p{
        font-size: 1rem;
      }
    }
  }
}
}

@media all and (min-width: 992px) {

}

@media all and (min-width: 1200px) {
.container.single-product-container{
  .woocommerce-tabs.wc-tabs-wrapper{
    .tabs{
      li{
        a{
        font-size: 1rem;
        }
      }
    }
    .woocommerce-Tabs-panel{
      padding: 40px 45px 40px;
      .bakerite-table{
        th{
          font-size: 1rem;
        }
        td{
          font-size: 1rem;
        }
      }
    }
  }
}
}
