.single-product-container{
  .product{
    .summary.entry-summary{
      margin-top: 0px;
      text-align: center;
    }
    .product_meta{
      margin: 16px 0px;
      .sku_wrapper{
        font-size: .9rem;
      }
      .posted_in{
        display: none;
      }
      .tagged_as{
        display: none;
      }
    }
    .woocommerce-product-details__short-description{
      margin-bottom: 30px;
      p{
        font-size: .9rem;
      }
    }
  }
}
/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 768px) {
.single-product-container{
  .product{
    .summary.entry-summary{
      text-align: left;
    }
    .woocommerce-product-details__short-description{
      p{
        font-size: 1rem;
      }
    }
  }
}
}
@media all and (min-width: 1200px) {
.single-product-container{
  .product{
    .woocommerce-product-details__short-description{
      margin-bottom: 40px;
    }
  }
}
}