.single-product-container{
  .woocommerce-product-gallery{
    .woocommerce-product-gallery__wrapper{
      .woocommerce-product-gallery__image{
        padding: 4px;
      }
      .gallery{
        margin-bottom: 0em;
        .gallery-item{
          width: 25%;
          padding: 4px;
        }
        img{
          max-height: 100px;
        }
      }
    }
  }
}
/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 576px) {
.single-product-container{
  .woocommerce-product-gallery{
    .woocommerce-product-gallery__wrapper{
      .gallery{
        img{
          max-height: unset;
          height: 116px;
        }
      }
    }
  }
}
}
@media all and (min-width: 768px) {
.single-product-container{
  .woocommerce-product-gallery{
    .woocommerce-product-gallery__wrapper{
      .gallery{
        margin-bottom: 1.5em;
        img{
          max-height: 100px;
        }
      }
    }
  }
}
}

@media all and (min-width: 992px) {
.single-product-container{
  .woocommerce-product-gallery{
    .woocommerce-product-gallery__wrapper{
      .gallery{
        img{
          max-height: unset;
          height: 116px;
        }
      }
    }
  }
}
}
