.single-product-container{
  .yith-ywraq-add-to-quote{
    margin-top: 40px;
    background-color: $bg-gray-md;
    padding: 15px;
    .add-request-quote-button, .yith_ywraq_add_item_browse_message{
      background-color: $brand-secondary;
      color: #fff;
      border-radius: 0;
      font-size: .9rem;
      font-weight: 400;
      display: block;
      text-align: center;
      padding: 14px 0px;
      -webkit-transition: 0.3s all ease-out;
      -moz-transition: 0.3s all ease-out;
      -o-transition: 0.3s all ease-out;
      transition: 0.3s all ease-out;
      a{
        text-decoration: none !important;
      }
    }
    .yith_ywraq_add_item_response_message{
      font-size: .9rem;
      font-weight: 400;
      display: block;
      text-align: center;
      padding: 0px 0px 12px 0px;
    }
    .add-request-quote-button:hover, .yith_ywraq_add_item_browse_message:hover{
      color: $brand-secondary;
      background-color: $bg-gray-darker2;
    }
    .ajax-loading{
      display: none;
    }
  }
}
/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 360px) {

}
@media all and (min-width: 467px) {

}
@media all and (min-width: 768px) {

}

@media all and (min-width: 992px) {
.single-product-container{
  .yith-ywraq-add-to-quote{
    margin-top: 50px;
  }
}
}

@media all and (min-width: 1200px) {
.single-product-container{
  .yith-ywraq-add-to-quote{
    padding: 35px;
    .add-request-quote-button, .yith_ywraq_add_item_browse_message{
      font-size: 1.2rem;
      padding: 14px 0px;
    }
    .yith_ywraq_add_item_response_message{
      font-size: 1.2rem;
      padding: 0px 0px 12px 0px;
    }
  }
}
}