.archive-product-container{ 
  .archive-product-widget{
    margin-top: 39px;
  }
}

.archive-product-widget{
  h2{
    color: #fff;
    font-size: .9rem;
    text-transform: uppercase;
    background-color: $brand-secondary;
    font-weight: 500;
    padding: 11px 10px 11px 20px;
    margin-bottom: 8px;    
  }
  .widget-title::after{
    content: '';
    border-style: solid;
    border-width: 13px 11px 0 11px;
    border-color: #ffffff transparent transparent transparent;
    position: absolute;
    right: 15px;
    top: 15px;
    -moz-transition: all 0.1s ease-out;  /* FF4+ */
    -o-transition: all 0.1s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.1s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: all 0.1s ease-out;  /* IE10? */
    transition: all 0.1s ease-out;  
  }
  .widget-title.hide::after{
    content: '';
    border-style: solid;
    border-width: 0 11px 13px 11px;
    border-color: transparent transparent #ffffff transparent;  
    position: absolute;
    right: 15px;
    top: 15px;
  }  
  #yith-woo-ajax-navigation-4{
    margin-top: 32px;
  }
  .yith-wcan-list.yith-wcan{
    // display: none;

    li{
      position: relative;
      padding-left: 20px;
      background-color: $bg-gray-md;
      margin-bottom: 7px;
    }
    a{
      text-transform: uppercase !important;
      font-weight: 600;
      display: block;
      padding: 12px 0px;
      text-decoration: none;
      font-size: .85rem;
    }
    a::before{
      position: absolute !important;
      right: 3px;
      top: 9px;
      width: 18px;
      height: 19px;
      margin-right: 10px;
    }
  }
  .yith-wcan-list.categories{
    li{
      position: relative;
      padding-left: 20px;
      background-color: $bg-gray-md;
      margin-bottom: 7px;
    }
    a{
      text-transform: uppercase !important;
      font-weight: 600;
      display: block;
      padding: 12px 0px;
      text-decoration: none;
      font-size: .85rem;
    }
    a::before{
      position: absolute !important;
      right: 0;
    }
    li::after {
      content: '';
      width: 4px;
      height: 39px;
      background-color: $blue;
      position: absolute;
      left: 0;
      top: 0; 
    }    
    li:nth-child(1)::after {
      content: '';
      width: 4px;
      height: 39px;
      background-color: $blue;
      position: absolute;
      left: 0;
      top: 0; 
    }
    li:nth-child(2)::after {
      content: '';
      width: 4px;
      height: 39px;
      background-color: $pink;
      position: absolute;
      left: 0;
      top: 0; 
    }
      li:nth-child(3)::after {
      content: '';
      width: 4px;
      height: 39px;
      background-color: $red;
      position: absolute;
      left: 0;
      top: 0; 
    }
      li:nth-child(4)::after {
      content: '';
      width: 4px;
      height: 39px;
      background-color: $green;
      position: absolute;
      left: 0;
      top: 0; 
    }
      li:nth-child(5)::after {
      content: '';
      width: 4px;
      height: 39px;
      background-color: $yellow;
      position: absolute;
      left: 0;
      top: 0; 
    }
      li:nth-child(6)::after {
      content: '';
      width: 4px;
      height: 39px;
      background-color: $purple;
      position: absolute;
      left: 0;
      top: 0; 
    }
      li:nth-child(7)::after {
      content: '';
      width: 4px;
      height: 39px;
      background-color: $gold;
      position: absolute;
      left: 0;
      top: 0; 
    }
      li:nth-child(8)::after {
      content: '';
      width: 4px;
      height: 39px;
      background-color: $orange;
      position: absolute;
      left: 0;
      top: 0; 
    }
      li:nth-child(9)::after {
      content: '';
      width: 4px;
      height: 39px;
      background-color: $blue-dark;
      position: absolute;
      left: 0;
      top: 0; 
    } 
  }
}

/*--------------------------------------------------------------
###############
# Media Queries
###############
--------------------------------------------------------------*/
@media all and (min-width: 360px) {

}
@media all and (min-width: 467px) {

}
@media all and (min-width: 768px) {

}

@media all and (min-width: 992px) {
.archive-product-container{ 
  .archive-product-widget{
    margin-top: 82px;
    .yith-wcan-list.yith-wcan{
      display: block;
    }
    .widget-title::after{
      display: none;
    }
  }
}
}
@media all and (min-width: 1200px) {

}
